# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pickle
*.egg-info/
*.ipynb_checkpoints/

.idea/
.vscode/

docker/secrets/*
!docker/secrets/.gitkeep



docker/.env

logs/*
!logs/.gitkeep

poetry.lock

.coverage

